<nav class="navbar ixed-top navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Codepedia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" *ngIf="authService.isSignIn() && authService.CurrentUser.admin" routerLink="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" *ngIf="authService.isSignIn()" routerLink="/dashboard">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"  *ngIf="!authService.isSignIn()" routerLink="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"  *ngIf="!authService.isSignIn()" routerLink="/signin">SignIn</a>
                </li>  
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="authService.isSignIn()" (click)='authService.signOut()' >SignOut </a>
                    <span *ngIf="authService.isSignIn()"> {{ authService.CurrentUser.username }} </span>
                </li>    
            </ul>
        </div>
    </div>
</nav>