<p *ngIf="isLoading" class="mt-5"> loading</p>
<div class="alert alert-danger" *ngIf="errorMsg">
    <span class="text-center">{{ errorMsg }}</span>
</div>

<div class="alert alert-success" *ngIf="successMsg">
    <span class="text-center">{{ successMsg }}</span>
</div>

<div class="row mt-5" *ngIf="post">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br><br>
       
        <h2> {{ post.title }} </h2>
        <br>
        <p> {{post.body}} </p>
    </div>
    <div class="col-md-2"></div>
</div>