<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="card shadow p-3 my-5  rounded">
        <h3 class="my-5"> {{ title | uppercase}} </h3>

        <form  [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
                <input 
                type="text" 
                formControlName="username"
                class="form-control" 
                id="username" >
                <label for="username">username</label>
            </div>
            <!-- loader -->
            <div *ngIf="username.pending" >checking</div>
            <!-- /loader -->
            <!--  -->
            <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <div *ngIf="username.errors?.required">
                    <p class="text-danger">Username is required.</p>
                </div>
                <div *ngIf="username.errors?.minlength">
                    <p class="text-danger">
                        Username must be at least {{ username.errors?.minlength.requiredLength}} characters long.
                    </p>
                </div>
            <div *ngIf="username.errors?.maxlength">
                <p class="text-danger">
                    Username must below {{ username.errors?.maxlength.requiredLength}} characters long.
                </p>
            </div> 
            
            <div *ngIf="username.errors?.cannotContainSpace">
                <p class="text-danger">
                    Username cannot contain space
                </p>
            </div>
             <div *ngIf="username.errors?.ShouldBeUniqueField">
                <p class="text-danger">
                    Username is already taken
                </p>
            </div>
            </div>
            <!-- / -->

            <div class="form-floating mb-3">
                <input formControlName="email"
                type="email" class="form-control" id="email">
                <label for="email">Email address</label>
            </div>
            <!--  -->
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
            
                <div *ngIf="email.errors?.required">
                    <p class="text-danger">Email address is required.</p>
                </div>
                <div *ngIf="email.errors?.email">
                    <p class="text-danger">Email address is not valid.</p>
                </div>
            </div>

            <div *ngIf="email.errors?.cannotContainSpace">
                <p class="text-danger">
                    email cannot contain space
                </p>
            </div>
            <!-- / -->
            <div class="form-floating">
                <input type="password"  
                formControlName="password"
                class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
            
                <div *ngIf="password.errors?.required">
                    <p class="text-danger">Password is required.</p>
                </div>
                <div *ngIf="password.errors?.minlength">
                    <p class="text-danger">
                        password must be at least {{ password.errors?.minlength.requiredLength}} characters long.
                    </p>
                </div>
            <div *ngIf="password.errors?.maxlength">
                <p class="text-danger">
                    Password must be  {{ password.errors?.maxlength.requiredLength}} characters long.
                </p>
            </div>
            <div *ngIf="password.errors?.cannotContainSpace">
                <p class="text-danger">
                    Password cannot contain space
                </p>
            </div>
            </div>
            {{form.value | json }} <br>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-lg my-4">Sign up</button>
        </form>
     </div>
    </div>
    <div class="col-md-3"></div>
</div>