<div class="row" *ngIf="authService.CurrentUser.username">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="breadcrumb my-4">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item"><a routerLink="/post/add">Add Post</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>

<h2 *ngIf='loading' >loading</h2>
<div class="row">
    <div class="col-md 12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">body</th>
                    <th scope="col">Created_at</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let post of posts">               
                <tr >
                    <th scope="row"> {{post._id}} </th>
                    <td>{{ post.title }}</td>
                    <td> {{ post.body }} </td>
                    <td> {{ post.createdAt| date}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>