<div class="row" *ngIf="authService.CurrentUser.username">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="breadcrumb my-4">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item"><a routerLink="/post/add">Add Post</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>

<h2 *ngIf='loading' class="text-center" >Loading...</h2>
<h2 *ngIf='posts.length === 0 && !loading' class="text-center" >No posts added yet.. start adding post</h2>
<div class="row">
    <div class="col-md 1">   
    </div> 
    <div class="col-md-10">
        <div class="alert alert-danger" *ngIf="errorMsg">
            <span class="text-center">{{ errorMsg }}</span>
        </div>
        
        <div class="alert alert-success" *ngIf="successMsg">
            <span class="text-center">{{ successMsg }}</span>
        </div>
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">body</th>
                    <th scope="col">Created_at</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let post of posts">
                <tr>
                    <th scope="row"> {{post._id}} </th>
                    <td>{{ post.title }}</td>
                    <td> {{ post.body.slice(0, 70) + '...' }} </td>
                    <td> {{ post.createdAt| date}} </td>
                    <td> 
                    <a href="" class="btn btn-primary ">Details</a> 
                    <button class="btn btn-danger ms-1 me-1" (click)="deletePost(post._id)" > 
                       Delete </button>
                    <a [routerLink]="[ '/post',post._id]" class="btn btn-info">Update</a>
                    </td>                 
                    
                </tr>
            </tbody>
        </table>
    </div>
     <div class="col-md 1">
        
    </div>
</div>